<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iOS-WKWebView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F7CDFAF81C935DA8001126A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F7CDFB0C1C935DA9001126A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F7CDFB171C935DA9001126A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
